*{
    box-sizing: border-box;
}

a{
text-decoration: none;
border-bottom: 1px solid seagreen;
font-size: 20px;
}
    

p{
    margin: 5 auto;
    color: white;
    padding-left: 10px;
    font-size: 20px;

    width:90%;
}
h2{
    color:rgb(179, 144, 0);


}

body{
    width: 760px;
    margin: 0 auto;
    padding: 5px;
    background-color: #2e2d32d9;
}
header{
  height: 270px;
  width: 100%;

  background-image: url("images/javascript-security.jpg");
  background-repeat: no-repeat;
  
}
.conteiner
{
    border-bottom:  3px solid rgb(179, 144, 0);
}






ul{
    padding-left: 0px;
    margin: 5px;
    margin-right: 10px;
    list-style: none;
    
}
ul li {
   
    font-size: 20px;
    color: rgba(215, 217, 223, 0.931);
    border:1px solid grey;
    border-radius: 5px;
    margin-bottom: 15px;
    /* margin-right: 5px; */
    padding: 15px;
  
  

}
ul li a{
    color :rgb(179, 144, 0);

    display: block;
    width: 100%;
  
}





li a:hover{
    color: rgb(245, 161, 27);
  border-bottom:2px solid rgb(179, 144, 0);
}

p a:hover{
    color: rgb(245, 161, 27);
  border-bottom:2px solid rgb(179, 144, 0);
}



#home{ 
    padding-left: 25px;
  background-image: url("https://www.clipartmax.com/png/small/76-765457_back-default-home-homepage-icon-home-icon-png-orange.png");
  background-repeat: no-repeat;
  background-size: 25px 25px;
  background-position: left;
}
a:visited{
    color: seagreen;
}


 /* ширина окна браузера больше   */
@media (min-width:320px){

      body{
          width: 320px;
      }
  header{
      height: 230px;
      width: 74%;
      margin: 0 auto;
      background-image: url(images/javascript-media.jpg);
      background-repeat: no-repeat;

 }

a{
      
      border-bottom: 2px solid seagreen;
      font-size: 20px;
    }

    ul li {
        font-size: 20px;

    }

}


@media (min-width:375px){
    body{
        width: 375px;
    }

    header{
        width:62%;
    }
    ul li {
        font-size: 20px;

    }

    a{
      
        border-bottom: 2px solid seagreen;
        font-size: 20px;
      }

}

@media (min-width:425px){
    body{
        width: 425px;
    }
    ul li {
        font-size: 20px;

    }
    header{
        width:55%;
    }

    a{
      
        border-bottom: 2px solid seagreen;
        font-size: 20px;
      }

}

@media (min-width:768px){
    body{
        width: 768px;
    }
    ul li {
        font-size: 20px;

    }
    header{
        width:30%;
    }

    a{
      
        border-bottom: 2px solid seagreen;
        font-size: 20px;
      }

}


@media (min-width:1280px){
    body{
        width: 1280px;
    }
    ul li {
        font-size: 20px;

    }
    header{
        width:19%;
    }

    a{
      
        border-bottom: 2px solid seagreen;
        font-size: 25px;
      }

}

